/* Add custom css styles here */


header{
    text-align: center;
    padding: 200px;
    background-image: url(coffee-biscuits.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}

header

.header2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.box1{
    background-color: rgba(36, 23, 0, 0.5);
    height: 300px;
    padding: 100px;
    border-radius: 25px;
}